@model List<Category>


<div class="container bg-light shadow-lg">
	<div class="row pt-2 pb-2">
		<div class="col-6">
			<h2 class="text-start">Category List</h2>

		</div>
		<div class="col-6 d-flex justify-content-end">

					<a class="btn btn-primary rounded-2" asp-area="Admin" asp-controller="Category" asp-action="Create"><i class="bi bi-plus-circle"></i> CREATE NEW</a>
		</div>
		
	</div>
	<table id="myTable" class="table table-bordered table-stripe bg-light">
		<thead>
			<tr class="text-center">
				<th>
					Category Id
				</th>
				<th>
					Category Name
				</th>
			
				<th>
					Action
				</th>
			</tr>
		</thead>
	

	</table>
</div>




@section Scripts {
	<script src="~/js/Category.js"></script>
}