@{
    ViewData["Title"] = "Home Page";
}


<section class="intro-section w-100">
    <div class="container d-flex intro-wrapper text-center">
        <div class="col-6 d-flex justify-content-center align-items-center flex-column">
            <div class="p-2">
                <h4 class="discount text-primary  text-center">Grab Up To 50% on Selected Shoes</h4>
            </div>
            <div class="p-2 mt-4">
                <a class="btn btn-primary rounded-3 mt-4" href="#">Buy Now</a>
            </div>
        </div>
        <div class="col-6">

            <div class="img-wrapper h-100 p-2 d-flex justify-content-center  overflow-hidden">

                <img src="/Images/Shoes-1.png" width="250" height="250" />

            </div>
        </div>
    </div>
</section>

<section class="product-section shadow-sm p-2">

    <div class="container">

        <div class="row d-flex">

            <div class="col-3 ">

                <div class="card d-flex justify-content-center shadow-sm border-0">


                    <div class="card-img d-flex justify-content-center">
                        <img src="/Images/Shoes-1.png" width="200"/>
                    </div>

                    <div class="card-body">

                        <h5 class="text-center">Jordan</h5>
                        <h6 class="text-center ">4000</h6>

                    </div>

                    <div class="card-footer">

                        <a class="btn btn-primary w-100 rounded-2">Buy</a>
                    </div>
                </div>

            </div>

              <div class="col-3">

                <div class="card d-flex justify-content-center shadow-sm border-0">
                    <div class="card-img d-flex justify-content-center">
                        <img src="/Images/Shoes-1.png" width="200" />
                    </div>

                    <div class="card-body">

                        <h5 class="text-center">Jordan</h5>
                        <h6 class="text-center ">4000</h6>

                    </div>

                    <div class="card-footer">

                        <a class="btn btn-primary w-100 rounded-2">Buy</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card d-flex justify-content-center shadow-sm border-0">


                    <div class="card-img d-flex justify-content-center ">
                        <img src="/Images/Shoes-1.png" width="200" />
                    </div>

                    <div class="card-body">

                        <h5 class="text-center">Jordan</h5>
                        <h6 class="text-center ">4000</h6>

                    </div>

                    <div class="card-footer">

                        <a class="btn btn-primary w-100 rounded-2">Buy</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card d-flex justify-content-center shadow-sm border-0">


                    <div class="card-img d-flex justify-content-center">
                        <img src="/Images/Shoes-1.png" width="200" />
                    </div>

                    <div class="card-body">

                        <h5 class="text-center">Jordan</h5>
                        <h6 class="text-center ">4000</h6>

                    </div>

                    <div class="card-footer">

                        <a class="btn btn-primary w-100 rounded-2">Buy</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


